@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); /*font-family: 'Inter', sans-serif;*/

:root {
    /* THEME COLORS */
    --theme-color: #28bae7;
    /* BASE PROPERTIES */
    --base-font-family: 'Inter', sans-serif;
    --base-background-color: #1a1919;
    /* CONTENT */
    --content-max-width: 84em;
    /* LINKS */
    --link-color: #2584c4;
    /* SIDEBAR */
    --sidebar-background: rgba(70, 70, 70, 0.05);
    /* SIDEBAR TOGGLE BUTTON */
    --sidebar-toggle-background: rgba(5, 5, 5, 0);
    --sidebar-toggle-offset-top: 20px;
    --sidebar-toggle-offset-left: 15px;
    --sidebar-width: 325px;
    /* NAVBAR */
    --navbar-root-margin: 0 0 0 1.6em;
}

.sidebar-nav {
    font-size: 15px !important; 
}

.app-name {
    padding-bottom: 0.5em !important;
    border-bottom: var(--hr-border)
}

.app-name-link {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* IMG STYLING */

.img-width-479 {
    width: 479px;
}

/* TEXT DECORATIONS */

.blue {
    font-weight: bold;
    color: #75adc7
}

.red {
    font-weight: bold;
    color: #d45f31
}