@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); /*font-family: 'Inter', sans-serif;*/

:root {
    /* THEME COLORS */
    --theme-color: #28bae7;
    /* BASE PROPERTIES */
    --base-font-family: 'Inter', sans-serif;
    --base-background-color: #19191a;
    /* CONTENT */
    --content-max-width: 84em;
    /* LINKS */
    --link-color: #2584c4;
    /* SIDEBAR */
    --sidebar-background: rgba(15, 15, 15, 0.219);
    /* --sidebar-background: rgba(70, 70, 70, 0.05); */
    /* SIDEBAR TOGGLE BUTTON */
    --sidebar-nav-pagelink-background: none;
    --sidebar-toggle-background: rgba(8, 8, 8, 0);
    --sidebar-toggle-offset-top: 20px;
    --sidebar-toggle-offset-left: 14px;
    --sidebar-width: 324px;
    /* NAVBAR */
    --navbar-root-margin: 0 0 0 1.6em;
    /* BASE STYLES */
}
.nav-title{
    font-size: 16.6px;
    font-weight: bold;
    color: #78aac7;
    margin-left: 10px;
    margin-top: 7px;
}

.d-icon{
    vertical-align: middle; 
    margin-right: 6px; 
}
.sidebar-nav {
    font-size: 14.7px !important; 
}

.app-name {
    padding-bottom: 0.5em !important;
    border-bottom: var(--hr-border)
}

.app-name-link {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1.6px;
}

/* IMG STYLING */

.img-width-479 {
    width: 479px;
}

/* TEXT DECORATIONS */

.blue {
    font-weight: bold;
    color: #75adc7
}

.red {
    font-weight: bold;
    color: #d45f31
}